<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NFC Status</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.0/socket.io.min.js"></script>
    <script>
        const socket = io();

        socket.on('nfc_status', function(data) {
            document.getElementById('status').innerText = data.status;
            document.getElementById('message').innerText = data.message;
        });
        socket.on('nfc_message', function(data) {
            document.getElementById('message').innerText = data.message;
        });
    </script>
</head>
<body>
    <h1>NFC Scanner Status</h1>
    <div id="status">Waiting for NFC card...</div>

    <br/>
    <h3>Message</h3>
    <div id="message">...</div>
</body>
</html>
